src/resume.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2017 Jason Redding

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns="http://witcraft.com/xsd/resume"
					 xmlns:r="http://witcraft.com/xsd/resume"
					 xmlns:xs="http://www.w3.org/2001/XMLSchema"
					 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"
					 targetNamespace="http://witcraft.com/xsd/resume"
					 elementFormDefault="qualified">

	<xs:annotation>
		<xs:appinfo></xs:appinfo>
		<xs:documentation></xs:documentation>
	</xs:annotation>

	<xs:element name="resume">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="meta">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skill">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="levels" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="level" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value" type="nonNegativeDecimal"/>
																	<xs:attribute name="preposition" type="xs:string" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="categories" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="category" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:complexType>
						<xs:all>
							<xs:element name="email" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="order" type="nonNegativeInteger"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="phone" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="order" type="nonNegativeInteger"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="address" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="order" type="nonNegativeInteger"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="name"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" type="type-mixed-content"/>
				<xs:element name="skills" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skill" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name"/>
										<xs:element name="level">
											<xs:complexType>
												<xs:attribute name="value" type="nonNegativeDecimal"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="experience">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="since" type="type-date-time"/>
													<xs:element name="until" type="type-date-time" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="categories" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="category" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="value"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="title" default="Skills" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="employers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="employer" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title"/>
										<xs:element name="positions" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="position" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="department" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="timeline">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="start-date" type="type-start-date"/>
																			<xs:element name="end-date" type="type-end-date" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="description" minOccurs="0"/>
																<xs:element name="projects" minOccurs="0">
																	<xs:complexType>
																		<xs:choice>
																			<xs:element name="project" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="title"/>
																						<xs:element name="link" minOccurs="0"/>
																						<xs:element name="description"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:choice>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="title" default="Employers" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="last-modified" type="type-date-time"/>
		</xs:complexType>
		<xs:key name="key-skill-level">
			<xs:selector xpath="r:meta/r:skill/r:levels/r:level"/>
			<xs:field xpath="@value"/>
		</xs:key>
		<!--<xs:keyref name="keyref-skill-level" refer="key-skill-level">
			<xs:selector xpath="r:skills/r:skill/r:level"/>
			<xs:field xpath="@value"/>
		</xs:keyref>-->
		<xs:key name="key-category">
			<xs:selector xpath="r:meta/r:skill/r:categories/r:category"/>
			<xs:field xpath="@value"/>
		</xs:key>
		<xs:keyref name="keyref-category" refer="key-category">
			<xs:selector xpath="r:skills/r:skill/r:categories/r:category"/>
			<xs:field xpath="@value"/>
		</xs:keyref>
	</xs:element>

	<xs:element name="duration">
		<xs:complexType mixed="true">
			<xs:attribute name="from" type="type-date-time"/>
			<xs:attribute name="to" type="type-date-time"/>
			<xs:attribute name="unit" type="type-date-precision"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="type-mixed-content" mixed="true">
		<xs:sequence>
			<xs:element name="duration" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="title" default="Description" use="optional"/>
	</xs:complexType>

	<xs:complexType name="type-start-date">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="group-date-attrs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="type-end-date">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="group-date-attrs-with-symbolic"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:attributeGroup name="group-date-attrs">
		<xs:attribute name="truncate-to" type="type-date-precision"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="group-date-attrs-with-symbolic">
		<xs:attribute name="truncate-to" type="type-date-precision"/>
		<xs:attribute name="symbolic" type="type-date-symbolic-attribute"/>
	</xs:attributeGroup>

	<xs:simpleType name="type-date-symbolic-attribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="present"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonNegativeInteger">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonNegativeDecimal">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date-precision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="year"/>
			<xs:enumeration value="month"/>
			<xs:enumeration value="day"/>
			<xs:enumeration value="hour"/>
			<xs:enumeration value="minute"/>
			<xs:enumeration value="second"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date-time-duration">
		<xs:restriction base="xs:string">
			<xs:pattern value="(now|[+-]?P([+-]?\d+W|([+-]?\d+Y)?([+-]?\d+M)?([+-]?\d+D)?(T([+-]?\d+H)?([+-]?\d+M)?([+-]?\d+S)?)?)|\d{4,}-\d{2}(-\d{2}(T\d{2}(:\d{2}(:\d{2}(\.\d{1,3})?)?)?(Z|[+-]\d{2}(:?\d{2})?)?)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date-time">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4,}-\d{2}(-\d{2}(T\d{2}(:\d{2}(:\d{2}(\.\d{1,3})?)?)?(Z|[+-]\d{2}(:?\d{2})?)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="e-boolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
			<xs:enumeration value="yes"/>
			<xs:enumeration value="no"/>
			<xs:enumeration value="on"/>
			<xs:enumeration value="off"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
