src/resume.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2017 Jason Redding

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns="http://jman.rocketssdhosting.com/xsd/resume"
	xmlns:r="http://jman.rocketssdhosting.com/xsd/resume"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsl="http://www.w3.org/2001/XMLSchema"
	xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"
	targetNamespace="http://jman.rocketssdhosting.com/xsd/resume"
	elementFormDefault="qualified">

	<xs:annotation>
		<xs:appinfo></xs:appinfo>
		<xs:documentation></xs:documentation>
	</xs:annotation>

	<xs:element name="resume">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="meta">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skill">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="levels" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="level" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value" type="nonNegativeDecimal"/>
																	<xs:attribute name="preposition" type="xs:string" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="preposition" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="categories" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="category" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="value"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="author">
					<xs:complexType>
						<xs:all>
							<xs:element name="name" minOccurs="0" type="type-contact-info"/>
							<xs:element name="seeking" minOccurs="0" type="type-contact-info"/>
							<xs:element name="company" minOccurs="0" type="type-contact-info"/>
							<xs:element name="email" minOccurs="0" type="type-contact-info"/>
							<xs:element name="phone" minOccurs="0" type="type-contact-info"/>
							<xs:element name="address" minOccurs="0" type="type-contact-info"/>
							<xs:element name="clearance" minOccurs="0" type="type-contact-info"/>
							<xs:element name="level" minOccurs="0" type="type-contact-info"/>
							<xs:element name="willing-to-travel" minOccurs="0" type="type-contact-info"/>
							<xs:element name="willing-to-relocate" minOccurs="0" type="type-contact-info"/>
							<xs:element name="last-updated" minOccurs="0">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="type-contact-info">
											<xs:attribute name="format" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="name" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="description" type="type-profile-description"/>
				<xs:element name="competencies" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="competency" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="name" minOccurs="1" type="xs:string"/>
										<xs:element name="duration" minOccurs="1" type="type-duration"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="certifications" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="certificate" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="name">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="issuer">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="issue-date" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="type-date"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="expire-date" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="type-date"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="score" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="nonNegativeDecimal"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="max-score" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="nonNegativeDecimal"/>
											</xs:simpleType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="employers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="employer" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title"/>
										<xs:element name="location" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="positions" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="position" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="title">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="location" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="department" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="timeline">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="start-date" type="type-start-date"/>
																			<xs:element name="end-date" type="type-end-date" minOccurs="0"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="description" minOccurs="0" type="type-position-description"/>
																<xs:element name="projects" minOccurs="0">
																	<xs:complexType>
																		<xs:choice>
																			<xs:element name="project" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="title"/>
																						<xs:element name="link" minOccurs="0"/>
																						<xs:element name="description" type="type-project-description"/>
																					</xs:sequence>
																					<xs:attribute name="type" use="optional"/>
																					<xs:attribute name="hidden" type="type-boolean" default="false" use="optional"/>
																					<xs:attribute name="expanded" type="type-boolean" default="false" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:choice>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="title" default="Employers" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="skills" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="skill" maxOccurs="unbounded" type="type-skill-definition"/>
						</xs:sequence>
						<xs:attribute name="title" default="Skills" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="skills-legend" minOccurs="0">
					<xs:complexType>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="last-modified" type="type-date-time"/>
		</xs:complexType>
		<xs:key name="key-skill-level">
			<xs:selector xpath="r:meta/r:skill/r:levels/r:level"/>
			<xs:field xpath="@value"/>
		</xs:key>
		<!--<xs:keyref name="keyref-skill-level" refer="key-skill-level">
			<xs:selector xpath="r:skills/r:skill/r:level"/>
			<xs:field xpath="@value"/>
		</xs:keyref>-->
		<xs:key name="key-category">
			<xs:selector xpath="r:meta/r:skill/r:categories/r:category"/>
			<xs:field xpath="@value"/>
		</xs:key>
		<xs:keyref name="keyref-category" refer="key-category">
			<xs:selector xpath="r:skills/r:skill/r:categories/r:category"/>
			<xs:field xpath="@value"/>
		</xs:keyref>
	</xs:element>

	<xs:complexType name="type-skill-definition">
			<xs:sequence>
				<xs:element name="name"/>
				<xs:element name="version" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:attribute name="hint"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="level">
					<xs:complexType>
						<xs:attribute name="value" type="nonNegativeDecimal"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="experience" type="type-experience"/>
				<xs:element name="categories" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="value" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="hidden" type="type-boolean" default="false" use="optional"/>
	</xs:complexType>

	<xs:complexType name="type-experience">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="spanning" maxOccurs="unbounded"/>
				<xs:element ref="since" minOccurs="0"/>
			</xs:sequence>
			<xs:element ref="spanning"/>
			<xs:element ref="since"/>
		</xs:choice>
		<xs:attribute name="precision" use="optional" type="type-experience-precision"/>
	</xs:complexType>

	<xs:element name="spanning" type="type-experience-spanning"/>
	<xs:element name="since" type="type-date"/>
	<xs:element name="until" type="type-date"/>

	<xs:simpleType name="type-experience-precision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="years"/>
			<xs:enumeration value="months"/>
			<xs:enumeration value="days"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="type-experience-spanning">
		<xs:attribute name="from" type="type-date" use="required"/>
		<xs:attribute name="to" type="type-date" use="required"/>
	</xs:complexType>

	<xs:element name="duration" type="type-duration"/>

	<xs:element name="skill" type="type-skill-reference"/>

	<xs:complexType name="type-skill-reference" mixed="true">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="type-duration" mixed="true">
		<xs:attribute name="from" type="type-date-time" use="required"/>
		<xs:attribute name="to" type="type-date-time"/>
		<xs:attribute name="weight" type="type-duration-weight" default="1"/>
		<xs:attribute name="unit" type="type-date-precision"/>
	</xs:complexType>

	<xs:complexType name="type-profile-description" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="title" default="Description" use="optional"/>
	</xs:complexType>

	<xs:complexType name="type-position-description" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="type-project-description" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="type-duration-weight">
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-boolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
			<xs:enumeration value="yes"/>
			<xs:enumeration value="no"/>
			<xs:enumeration value="on"/>
			<xs:enumeration value="off"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="type-contact-info">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="order" type="nonNegativeInteger" use="optional"/>
				<xs:attribute name="label" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="type-start-date">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="group-date-attrs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="type-end-date">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="group-date-attrs-with-symbolic"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:attributeGroup name="group-date-attrs">
		<xs:attribute name="truncate-to" type="type-date-precision" use="optional"/>
		<xs:attribute name="format" type="xs:string" use="optional"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="group-date-attrs-with-symbolic">
		<xs:attribute name="truncate-to" type="type-date-precision" use="optional"/>
		<xs:attribute name="format" type="xs:string" use="optional"/>
		<xs:attribute name="symbolic" type="type-date-symbolic-attribute" use="optional"/>
	</xs:attributeGroup>

	<xs:simpleType name="type-date-symbolic-attribute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="present"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonNegativeInteger">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonNegativeDecimal">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date-precision">
		<xs:restriction base="xs:string">
			<xs:enumeration value="year"/>
			<xs:enumeration value="month"/>
			<xs:enumeration value="day"/>
			<xs:enumeration value="hour"/>
			<xs:enumeration value="minute"/>
			<xs:enumeration value="second"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date-time-duration">
		<xs:restriction base="xs:string">
			<xs:pattern value="(now|[+-]?P([+-]?\d+W|([+-]?\d+Y)?([+-]?\d+M)?([+-]?\d+D)?(T([+-]?\d+H)?([+-]?\d+M)?([+-]?\d+S)?)?)|\d{4,}-\d{2}(-\d{2}(T\d{2}(:\d{2}(:\d{2}(\.\d{1,3})?)?)?(Z|[+-]\d{2}(:?\d{2})?)?)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date-time">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4,}(-\d{2}(-\d{2}(T\d{2}(:\d{2}(:\d{2}(\.\d{1,3})?)?)?(Z|[+-]\d{2}(:?\d{2})?)?)?)?)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="type-date">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4,}-\d{2}(-\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>